<div id="dashboard-tab-content" class="row" ng-controller="DashboardCtrl" auto-fit-height>

    <div class="commits items-list small-3 large-3 columns">

        <div class="commits-tab-header row branch-selector">
            <div class="small-7 large-7 columns">
                <div class="repo-btn">
                    <div class="dropdown-btn btn-small">
                        <div class="selected text-center">
                            <span class="octicon octicon-comment-discussion"></span>
                        </div>
                        <ul class="branches-list">
                            <li ng-click="loadWatchedRepositories()">Watched Repositories</li>
                            <li ng-click="loadMyComments()">My Comments</li>
                            <li ng-click="loadAll()">All</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="items-container row">

            <div class="followups-container" ng-repeat="commit in commits">
                <div class="info-box">
  
                    <div class="commit-name" ng-bind-html-unsafe="commit.message"></div>
                    <div class="info-line">
                    	<span class="username">{{commit.authorName}}</span><span class="time">{{commit.date | relativeDate}} in {{ commit.repoName }}</span>
                    </div>
                </div>
                <div class="followup-container" ng-repeat="reaction in commit.reactions" ng-controller="DashboardListItemCtrl" ng-click="openReactionDetails(reaction)" 
                     mark-current="reaction.id" state-param-name="commentId" ng-class="{'followup-waiting': reaction.isWaiting}">
                    <div class="authored-box" >
                    	<div class="info-line">
                    		<span class="username">{{reaction.authorName}}</span>
                    		<span class="time">{{reaction.time | relativeDate}}</span>
                    		<span ng-show="reaction.isWaiting">&nbsp;<span class="icon-inbox"></span></span>
                    	</div>
                        <div class="author-box"><user-avatar url="reaction.authorAvatarUrl"></user-avatar></div>
                        <div class="info-box">
                            <div class="comment"><reaction-message-summary reaction="reaction"></reaction-message-summary></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="diff large-9 columns" ui-view>
    </div>
</div>