<div class="diff-wrapper" auto-fit-comments-width ng-controller="BrowserFileCtrl">
    <div class="diff-container clearfix" ng-if="file.lines">
		<commit-diff data="file" compile="tfoot">
	    	
	        <div class="diff-table-wrapper">
	            <table class="diff-file-container">
	                <thead class="diff-file-name">
	                    <tr>
	                    	<th colspan="3">
		                   		<span><strong><a href="#/browser/{{file.repoName}}/{{file.commitId}}/">{{file.repoName}}</a></strong></span><!-- {{#each file.paths}} --><span>/<a href="#/browser/{{../file.repoName}}/{{../file.commitId}}/{{path}}">{{part}}</a></span><!-- {{/each}} -->
	                    	</th>
	                    </tr>
	                </thead>
	                <!-- {{#each file.lines}} -->
	                <tbody data-line-number="{{@index}}">
	                    <tr data-code-row>
		                   	<td class="diff-line-num diff-blame" style="background-color:{{commitColor}}" data-blame-commit="{{sha}}">
		                   		<div></div>
	                    	</td>
	                        <td class="diff-line-num" >
	                            <a class="comment button" data-commentable>
	                                <span class="diff-line-num-content">{{@index}}</span>
	                                <i class="icon-pencil"></i>
	                            </a>
	                        </td>
	                        <td class="diff-line-code" ng-non-bindable data-commentable>{{line}}</td>
	                    </tr>
	                </tbody>
	                <!-- {{/each}} -->
	                <!-- angular hooks to bind to diff elements -->
	                <tfoot
	                     line-like
	                     line-comment-form
	                     line-reactions="file.reactions"
	                     line-blame>
	                </tfoot>
	            </table>
	        </div>
	    </commit-diff>
	    
	    <div id="commit-comments-area" class="comments-container" style="background: transparent; border-color: transparent;">
    	</div>
	</div>
	<div class="diff-container clearfix" ng-if="file.files">
		<div class="diff-table-wrapper">
			<table class="folder-list diff-file-container">
				<tbody>
					<thead class="diff-file-name">
	                    <tr>
	                        <th colspan="4">
	                        	<span><strong><a href="#/browser/{{repoName}}/{{commitId}}/">{{repoName}}</a></strong></span><span ng-repeat="p in paths">/<a href="#/browser/{{repoName}}/{{commitId}}/{{p.path}}">{{p.part}}</a></span>
	                        </th>
	                    </tr>
	                </thead>
					<tr ng-repeat="child in file.files | orderBy:['-tree','name']">
						<td class="folder"><i ng-show="child.tree" class="icon-folder-open"></i></td>
						<td class="filename"><a href="#/browser/{{repoName}}/{{commitId}}{{slashyFileName}}/{{child.name}}">{{child.name}}</a></td>
						<td class="message"><a href="#/{{repoName}}/commits/{{child.commit.sha}}">{{child.commit.message}}</a></td>
						<td class="age">{{child.commit.date | relativeDate}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	

</div>