<div class="diff-wrapper" auto-fit-comments-width ng-controller="BrowserFileCtrl">
    <div class="diff-container clearfix">
		<commit-diff data="file" compile="tfoot">
	    	
	        <div class="diff-table-wrapper">
	            <table class="diff-file-container">
	                <thead class="diff-file-name">
	                    <tr>
	                        <th colspan="3">{{file.name}}</th>
	                    </tr>
	                </thead>
	                <!-- {{#each file.lines}} -->
	                <tbody data-line-number="{{@index}}">
	                    <tr data-code-row>
		                   	<td class="diff-line-num diff-blame" style="background-color:{{commitColor}}" data-blame-commit="{{sha}}">
		                   		<div></div>
	                    	</td>
	                        <td class="diff-line-num" >
	                            <a class="comment button" data-commentable>
	                                <span class="diff-line-num-content">{{@index}}</span>
	                                <i class="icon-pencil"></i>
	                            </a>
	                        </td>
	                        <td class="diff-line-code" ng-non-bindable data-commentable>{{line}}</td>
	                    </tr>
	                </tbody>
	                <!-- {{/each}} -->
	                <!-- angular hooks to bind to diff elements -->
	                <tfoot
	                     line-like
	                     line-comment-form
	                     line-reactions="file.reactions"
	                     line-blame>
	                </tfoot>
	            </table>
	        </div>
	    </commit-diff>
	    
	    <div id="commit-comments-area" class="comments-container" style="background: transparent; border-color: transparent;">
    	</div>
	</div>
	

</div>